# IntelliJ
out/
.idea/

# SonarLint plugin
.idea/sonarlint/
.sonarlint/

# Composer
.idea/composer.json
composer.phar
composer.lock

# Vendor
vendor/

# Large image collections
assets/images/cover/**
assets/images/disc/**
