table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #CCC;
}

.mono {
  font-family: monospace;
}

.overflow-protect {
  overflow: hidden;
  text-overflow: ellipsis;
}

#loading {
  display: none;
  margin: 10px 0;
}

.fit-cell {
  width: 1%;
  white-space: nowrap;
}

.image-asset-inline {
  height: 40px;
  cursor: pointer;
}

.img-tooltip {
  position: absolute;
  z-index: 1;
  display: none;
  border: 2px solid #333;
  background: #FFF;
  padding: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.img-tooltip-preview {
  display: block;
  zoom: 1.35;
}