table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #CCC;
}

.mono {
  font-family: monospace;
}

.overflow-protect {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}
